<div class="cards-container">
    <div class="card">
      <img src="../../assets/img/all-workers.jpg" alt="All Workers Image">
      <button routerLink="/all-workers">View All Workers</button>
    </div>
  
    <div class="card">
      <img src="../../assets/img/all-users.jpg" alt="All Workers Image">
      <button routerLink="/all-users">View All Users</button>
    </div>
  
    <div class="card">
      <img src="../../assets/img/worker-stat.jpg" alt="All Workers Image">
      <button routerLink="/worker-chart">View Worker Statistics</button>
    </div>
  
    <div class="card">
      <img src="../../assets/img/order.png" alt="All Workers Image">
      <button>View Orders History</button>
    </div>
  </div>
  