<!-- <div *ngFor="let worker of workers">
  <h2>{{worker.name}}</h2>
  <p>{{worker.job}}</p>
  <p>{{worker.location}}</p>
</div> -->

<div class="container justify-content-center">
  <h1 style="text-align: center;">OUR SERVICES</h1>
  <div class="outer-card card">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card img-card">
          <div class="inner">
            <img class="card-img-top" src="../../../assets/img/carcare.png" alt="Card image cap" />
          </div>
          <div class="card-body text-center">
            <a  routerLink='/carrepair' href="" class="btn" (click)="getAllService('Car & Bike Repair')">Car & Bike Services</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card img-card">
          <div class="inner">
            <img class="card-img-top" src="../../../assets/img/carpenter.png" alt="Card image cap" />
          </div>
          <div class="card-body text-center">
            <a routerLink='/carpentar' href="" class="btn" (click)="getAllService('Carpentar')">Carpenter</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card img-card">
          <div class="inner">
            <img class="card-img-top" src="../../../assets/img/cleaning.png" alt="Card image cap" />
          </div>
          <div class="card-body text-center">
            <a routerLink='/cleaner' href="" class="btn" (click)="getAllService('Cleaner')">Cleaning</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card img-card">
          <div class="inner">
            <img class="card-img-top" src="../../../assets/img/electrician.png" alt="Card image cap" />
          </div>
          <div class="card-body text-center">
            <a routerLink='/electrician' href="" class="btn" (click)="getAllService('Electrician')">Electrician</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card img-card">
          <div class="inner">
            <img class="card-img-top" src="../../../assets/img/painting.png" alt="Card image cap" />
          </div>
          <div class="card-body text-center">
            <a routerLink='/painter' href="" class="btn" (click)="getAllService('painter')">Painting</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card img-card">
          <div class="inner">
            <img class="card-img-top" src="../../../assets/img/plumber.png" alt="Card image cap" />
          </div>
          <div class="card-body text-center">
            <a routerLink='/plumber' href="" class="btn" (click)="getAllService('Plumber')">Plumber</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>