<h2 class="title">Login Here</h2>
<div class="container">
  <div class="card">
    <h2 class="title">Login</h2>
    <form [formGroup]="signin" class="form" (ngSubmit)="loginHandyman()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" placeholder="Enter email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control" placeholder="Enter password" formControlName="password">
        <!-- <i class="fas fa-eye-slash password-toggle"></i> -->
      </div>
      <div class="form-group">
        <label for="user">User:</label>
        <select id="user" class="form-control" formControlName="userType">
          <option value="user">user</option>
          <option value="worker">worker</option>
          <option value="admin">admin</option>
        </select>
      </div>
      <div class="form-row">
        <button class="btn register-button" mat-raised-button color="primary" (click)="loginHandyman()">Login</button>
        <span class="login-message">Don't have an account?<button class="btn login-button" mat-stroked-button
            color="primary" routerLink="/user-register">Register here</button></span>
      </div>
    </form>
  </div>
</div>
