<div class="input-group mb-3 search-bar">
    <input type="text" class="form-control search-input" placeholder="Search by worker name" [(ngModel)]="searchValue">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary search-btn" type="button" (click)="search()">Search</button>
    </div>
  </div>
<table class="table table-bordered my-service-table">
    <thead>
      <tr>
        <th>Serial No.</th>
        <th>Date of Booking</th>
        <th>Types of Service</th>
        <th>Name of Worker</th>
        <th>Mobile Number of Worker</th>
        <th>Status of Service</th>
        <th>View Details</th>
        <th>Service Completed?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of filteredBookings; let i=index">
        <td>{{i+1}}</td>
        <td>{{booking.bookingDate | date:'yyyy-MM-dd'}}</td>
        <td>{{booking.worker.services.join(', ')}}</td>
        <td>{{booking.worker.name}}</td>
        <td>{{booking.worker.mobileNumber}}</td>
        <td>{{booking.paymentStatus}}</td>
        <td>
          <button class="btn btn-primary view-worker-btn" (click)="viewWorker(booking.worker.workerId)">
            View Worker
          </button>
        </td>
        <td>
          <button class="btn" 
        [ngClass]="{'btn-success': isServiceCompleted, 'btn-secondary': !isServiceCompleted}" 
        [disabled]="isServiceCompleted"
        (click)="completeService(booking._id)">
  {{ isServiceCompleted ? 'Service Completed' : 'Service in Processing...' }}
</button>

        </td>
      </tr>
    </tbody>
  </table>
  
 
  