img {
   height: 200px;
 }
 
 .container {
   width: 1000px;
   justify-content: center;
   text-align: center;
 }
 
 .outer-card {
   text-align: center;
   padding-left: 25px;
   padding-right: 24px;
   padding-top: 50px;
   padding-bottom: 30px;
 }
 
 .card {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 }
 
 .btn {
   width: 14rem;
   font-weight: 600;
   font-size: 0.9rem;
   background-color: #164889;
   color: white;
 }
 
 .video-fluid {
   width: 100%;
   height: auto;
 }
 
 .rating {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
 }
 
 .rating label {
   font-size: 1.2rem;
   font-weight: bold;
   margin-right: 10px;
 }
 
 .rating input {
   width: 50px;
   height: 25px;
   margin-right: 10px;
 }
 
 .review {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
 }
 
 .review label {
   font-size: 1.2rem;
   font-weight: bold;
   margin-right: 10px;
 }
 
 .review textarea {
   width: 400px;
   height: 100px;
 }
 