<html>
  <body>
    
    <div class="container">
      <h1 style="text-align: center;"> Plumber</h1>
      <div class="outer-card card">
    
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../assets/img/plumberimg.jpg" alt="Card image cap">
              <div class="card-body">
    
                <p class="card-text">Plumber Name: John Smith<br>
                  Review: ⭐⭐⭐<br>
                  <button class="btn" routerLink="/shipping-info">Book Now</button>
    
                </p>
              </div>
    
            </div>
          </div>
    
          <div class="col">
            <div class="card" style="width: 18rem;">
              <p><b>Price :</b>  100₹ /Hr <br>
                <b>Availability:</b> Available <br>
    
                <b>Address : Karad </b> <a routerLink='/google-map' href="">View on map</a>
                <br><B>Phone Number: </B>908080808
              </p>
    
            </div>
          </div>
          <div class="col">
        <div class="card" style="width: 18rem;">
          <video class="video-fluid z-depth-1" autoplay loop controls muted>
            <source src="../../assets/img/plumbing.mp4" type="video/mp4" />
        </video>
             
              <!-- <img class="card-img-top" src="../../../assets/img/plumberimg.jpg" alt="Card image cap"> -->
          </div> 
          
          </div>
        </div>
      </div>
    </div>
    
    

  </body>
</html>

