<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="../../assets/img/plumberimg.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Worker Name: {{plumber.name}}</h5>
          <p class="card-text">Review: 
            <ng-container *ngFor="let i of [1,2,3,4,5]">
              <span *ngIf="plumber.averageRating >= i">
                <i class="fas fa-star" style="color: gold;"></i>
              </span>
              <span *ngIf="plumber.averageRating >= i-0.5 && plumber.averageRating < i">
                <i class="fas fa-star-half-alt" style="color: gold;"></i>
              </span>
              <span *ngIf="plumber.averageRating < i-0.5">
                <i class="far fa-star" style="color: gold;"></i>
              </span>
            </ng-container>
          </p>
          

          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" routerLink="/shipping-info" style="background-color: #1E90FF; color: #FFFFFF;">Book Now</button>
            </div>
            <small class="text-muted">{{plumber.price}}₹/Hr</small>
          </div>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Submit a Complaint</h5>
          <button type="button" class="btn btn-primary" (click)="showComplaintForm = true">Complaint a Worker</button>
          <form id="complaint-form" *ngIf="showComplaintForm" (ngSubmit)="submitComplaint()" #reviewForm="ngForm">
            <div class="form-group">
              <label for="complaint">Complaint:</label>
              <textarea class="form-control" id="complaint" name="complaint" rows="3" [(ngModel)]="complaintText" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!reviewForm.valid">Submit Complaint</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Price: {{plumber.price}}₹ /Hr</h5>
          <p class="card-text">Availability: Available</p>
          <p class="card-text">Address: {{plumber.address}} <a href="#" routerLink="/google-map">View on map</a></p>
          <p class="card-text">Phone Number: {{plumber.mobileNumber}}</p>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <!-- <h5 class="card-title">Video</h5> -->
          <video class="card-video-top" src="../../assets/img/plumbing.mp4" controls></video>
        </div>
     </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
  <div class="card-body">
    <h5 class="card-title">Submit a Review</h5>
    <form id="review-form" (ngSubmit)="submitReview()" #reviewForm="ngForm">
      <div class="form-group">
        <label for="review">Review:</label>
        <textarea class="form-control" id="review" name="review" rows="3" [(ngModel)]="reviewText" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!reviewForm.valid">Submit</button>
    </form>
  </div>
</div>
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Rate this Worker</h5>
          <form method="post" action="/submit-rating">
            <div class="form-group">
              <label for="rating">Rating:</label>
              <select class="form-control" id="rating" name="rating">
                <option value="">--Select rating--</option>
                <option value="5">5:-Outstanding</option>
                <option value="4">4:-Good</option>
                <option value="3">3:-Neutral</option>
                <option value="2">2:-Bad</option>
                <option value="1">1:-Worst</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" (click)="submitRating()">Submit Rating</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
