<div class="container">
    <h1 class="text-center mb-4">Painter</h1>
    <div class="outer-card card">
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="../../../assets/img/plumberimg.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Painter Name: Ram<br>
                Review: ⭐⭐⭐⭐⭐<br>
                Price: 550₹</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="../../../assets/img/plumberimg.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Painter Name: Sham<br>
                Review: ⭐⭐⭐⭐<br>
                Price: 350₹</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="../../../assets/img/plumberimg.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Painter Name: John<br>
                Review: ⭐⭐⭐<br>
                Price: 200₹</p>
              <a routerLink='/single-plumber' class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="../../../assets/img/plumberimg.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Painter Name: David<br>
                Review: ⭐⭐⭐⭐<br>
                Price: 350₹</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="../../../assets/img/plumberimg.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Painter Name: Dummy<br>
                Review: ⭐⭐⭐⭐<br>
                Price: 300₹</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="../../../assets/img/plumberimg.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Painter Name: Fakename<br>
                Review: ⭐⭐⭐⭐<br>
                Price: 250₹</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  