.create-blog-button {
  margin-left: 1350px;
  /* padding: 10px 20px; */
  border: none;
  background-color: #2196F3;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.create-blog-button:hover {
  background-color: #0b7dda;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
  max-width: 1600px;
  margin: 20px;
}

.create-blog-button {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #2196F3;
  cursor: pointer;
  align-self: flex-start;
}

.blog-item {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border-radius: 5px;
  overflow: hidden;
}
.blog-item:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}
.blog-image {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
}

.blog-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.blog-meta {
  margin-bottom: 10px;
  font-size: 16px;
  color: #999;
}

.blog-summary {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}

.blog-summary.expanded {
  height: auto;
  overflow: visible;
}

.read-more-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #2196F3;
  cursor: pointer;
  transition: all 0.3s ease;
}

.read-more-button:hover {
  background-color: #1769aa;
}
