/* .user-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
  }
   */

   /* Style for the table */
.user-table {
  width: 100%;
  border-collapse: collapse;
}

/* Style for table header cells */
th {
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid #ccc;
  padding: 10px;
}

/* Style for table data cells */
td {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

/* Style for alternating table rows */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for hover effect on table rows */
tr:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}


.search-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

button.mat-raised-button {
  margin-left: 1rem;
  transition: background-color 0.3s ease;
}

button.mat-raised-button:hover {
  background-color: #3f51b5;
}

.mat-form-field {
  width: 250px;
  margin-right: 1rem;
}



