<div class="container">
  <form [formGroup]="signin">
    <h2>Shipping Info</h2>

    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput type="text" id="name" name="name" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mobile Number:</mat-label>
      <input matInput type="text" id="mobile-number" name="mobileNumber" formControlName="mobileNumber" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address:</mat-label>
      <input matInput type="text" id="address" name="address" formControlName="address" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Pincode:</mat-label>
      <input matInput type="text" id="pincode" name="pincode" formControlName="pinCode" />
    </mat-form-field>

    <button type="submit" (click)="saveOrder()" id="pay-button">Make Payment</button>
  </form>
</div>

<!-- <div *ngIf="isBooked; else paymentError">
  <h2>Booking Confirmation</h2>
  <p>Your service has been booked successfully.</p>
</div>

<ng-template #paymentError>
  <div class="error-message">
    <p>There was an error in processing your payment. Please try again later.</p>
  </div>
</ng-template> -->
